@color_1: #253d4a;
@color_2: #ffffff;
@color_3: #71b100;
@font_family_1: 'Flaticon';

* {
    list-style: none;
    text-decoration: none;
}
.property-details {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .auto-container {
        position: relative;
        z-index: 5;
        max-width: 1200px;
        padding: 0px 15px;
        margin: 0 auto;
        &::before {
            background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
        }
        &:before {
            content: '';
            position: absolute;
            right: 100%;
            top: 0px;
            width: 1500px;
            height: 100%;
            background: rgba(255,255,255,0.95);
            z-index: 0;
        }
    }
    .left-column {
        background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
        position: relative;
        padding: 60px 15px;
    }
}
.left-column {
    h2 {
        position: relative;
        font-size: 24px;
        color: @color_1;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .tabs-box {
        position: relative;
        padding-right: 50px;
        .tab-buttons {
            .tab-btn {
                &:hover {
                    color: @color_2;
                    background: #71b100;
                }
            }
        }
    }
}
.tabs-box {
    .text {
        margin-bottom: 15px;
    }
    h3 {
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: @color_1;
        font-weight: 700;
    }
    .tab-buttons {
        position: relative;
        display: table;
        width: 100%;
        margin-bottom: 20px;
        background: rgba(255,255,255,0.70);
        border: 1px solid #dddddd;
        overflow: hidden;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        .tab-btn.active-btn {
            color: @color_2;
            background: #71b100;
        }
    }
    .tab-content {
        position: relative;
    }
}
.tab-buttons {
    .tab-btn.active-btn {
        color: @color_2;
        background: #71b100;
    }
    .tab-btn {
        position: relative;
        display: table-cell;
        border-right: 1px solid #dddddd;
        padding: 14px 20px;
        color: @color_1;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        background: #fff;
        transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
    }
}
.tab-content {
    .tab {
        position: relative;
        display: none;
        top: 50px;
        transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
    }
    .active-tab {
        top: 0px;
    }
    .styled-list {
        position: relative;
        margin-top: 10px;
        li {
            &:before {
                content: '';
                font-family: @font_family_1;
                color: @color_3;
                font-size: 12px;
                left: 0;
                line-height: 18px;
                position: absolute;
                top: 3px;
            }
        }
    }
}
.styled-list {
    li {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
        position: relative;
        font-weight: 700;
        padding-left: 25px;
        color: @color_1;
        content: '\e0b0';
        font-family: @font_family_1;
        color: @color_3;
        font-size: 12px;
        left: 0;
        line-height: 18px;
        top: 3px;
    }
}
